services:
  - type: web
    name: chessy
    env: node
    region: oregon
    plan: free
    rootDir: repository_folder_1
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: HOST
        value: 0.0.0.0
