services:
  - type: web
    name: chessy-1.6-trainer
    runtime: docker
    buildCommand: ""
    startCommand: python3 train_cloud.py
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: STOCKFISH_PATH
        value: "./stockfish/stockfish"
      - key: RENDER_EXTERNAL_URL
        sync: false
    plan: free
    scaling:
      minInstances: 1
      maxInstances: 1
